<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CWNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C0EB1121DE5E63700BB3554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0EB12B1DE5E63800BB3554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0EB1361DE5E63800BB3554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
